body {
    font-family: Poppins;
}

h1 {
    font-size: 1.5rem;
}

/*============================ LANDING*/
.landing {
    padding: 13em 40em 0em 15em;
}
/* 
.landing p {
    padding-right: 20em;
} */

/*============================ BODY*/
div {
    height: 100vh;
}

.container {
    padding: 0em 15em;
}

th, td {
    text-align: center;
    padding: 0px 50px 15px 0px;
}

td {
    text-align: center;
    padding: 0px 50px 0px 0px;
}

/* ============================ NAVIGATION BAR*/
nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    float: right;
}

nav ul a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav button {
    border-radius: 20px;
    padding: 10px 15px;
}

